<ng-template #idTemplateModalBox let-c="close" let-d="dismiss">
    <div class="modal-header" [ngClass]="headerClass">
      <i [ngClass]="iconClass" aria-hidden="true"></i>
      <h4 class="modal-title">{{options.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('DISMISS')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        <span [innerHTML]="options.body"></span>
      </p>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <button type="button" [hidden]="hideBtnCancel" class="btn btn-warning float-left" (click)="c('CANCEL')">{{txtCancel}}</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary float-right" (click)="c('OK')">{{txtOk}}</button>
          </div>
        </div>
      </div>
    </div>
</ng-template>